/* Error: Undefined variable.
 *   ,
 * 6 |   @media screen and (max-width: $sm-1) and (orientation: portrait) {
 *   |                                 ^^^^^
 *   '
 *   style\breakpoints.scss 6:33  for-small()
 *   style\index.scss 17:3        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502    @media screen and (max-width: $sm-1) and (orientation: portrait) {\d\a   \2502                                  ^^^^^\a   \2575 \a   style\\breakpoints.scss 6:33  for-small()\a   style\\index.scss 17:3        root stylesheet";
}
