$md: 600px;
$lg: 900px;
$unit-heigth: 200px;
@mixin for-medium {
    @media screen and (min-width: $md) {
        @content;
    }
}
@mixin for-large {
    @media screen and (min-width: $lg) {
        @content;
    }
}