* {
    box-sizing: border-box;
}
.article {
    display: flex;

}
div > div {
  background-color: beige;
  margin: 16px;
  flex-shrink: 0;
   height: 100px;
  width: 150px;
}
.cropped {
  overflow: hidden;
}
.both-scrolls {
  overflow: scroll;
  cursor: all-scroll;
}
.vertical-scroll {
  overflow: auto;
  cursor: all-scroll;
}
