.articles {
    display: flex;
    box-sizing: border-box;
}
div {
    height: 100px;
    width: 150px;
    background-color: beige;
    margin: 16px;
    flex-shrink: 0;
   
}
.cropped {
    overflow: hidden;
}
.both-scrolls {
    overflow: scroll;
    cursor: all-scroll;
}
.vertical-scroll {
    overflow: auto;
    cursor: all-scroll;
}