.text {
  position: relative;
  display: inline-block;
  margin: 16px;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.tooltip {
    position: absolute;
    bottom: -40px;
    color: white;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    display: none;

}
.text:hover .tooltip {
  display: block;
}

