* {
  box-sizing: border-box;
}
td,
tr {
  height: 50px;
  width: 50px;
  text-align: center;
}
table {
  margin: 16px;
}

tr:first-child {
  border-top: 1px solid black;
}
td:first-of-type {
  border-left: 1px solid black;
}
td:last-child {
  border-right: 1px solid black;
}
tr:last-child {
  border-bottom: 1px solid black;
}
table,
tr:not(:first-child, :last-child) td:not(:first-child, :last-child) {
  border: 1px solid black;
  border-collapse: collapse;
}
tr:not(:first-child, :last-child):nth-child(even)
  td:not(:first-child, :last-child):nth-child(odd) {
  background-color: black;
}
tr:not(:first-child, :last-child):nth-child(odd)
  td:not(:first-child, :last-child):nth-child(even) {
  background-color: black;
}
