* {
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
}
.article {
    display: block;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px; /* ширина для влекс контейнеров*/
    flex-grow: 1;
    flex-shrink: 1;

}
.articles-list {
    display: flex;
    flex-wrap: wrap;
}

