main {
  height: 5000px;
  background-color: beige;
}
* {
  box-sizing: border-box;
}

header {
  float: top;
  height: 40px;
  background-color: darkturquoise;
  width: 100%;
  position: fixed;
  /* clear: both; */
}
/* .navigation {
  margin-left: 16px;  
  color: white;
  
}   */

.nav-item {
 float: left;
  padding-right: 30px;
  line-height: 1px;
}  
li {
  display: inline;
  margin-left: 16px;
  height: 40px;
  color: white;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px; */
  position: absolute;
  left: 40%;
  top: 300px;
  right: 50%;
}
.ear {
  background-color: brown;
  width: 40px;
  height: 60px;
  position: relative;
}
.ear_right {
  left: 100%;
  bottom: 60px;
}
.ear_left {
  right: 20%;
  bottom: 120px;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  position: relative;
}
.eye_right {
  bottom: 40px;
  left: 40px;
}
.eye_left {
  left: 125px;
  bottom: 70px;
}
